*{
    margin: 0;
    padding: 0px;
}

/* Navbar  */
.navbar a img{
    height: 50px;
    padding-right : 30px;

}

#nav-bar{
    position: sticky;
    top: 0px;
    z-index: 10;
    display: block;
    opacity: 1;
    
}

.navbar-nav li {
    padding: 0px 10px ;
    
}

.navbar-nav li a {
    float: right;
    text-align: right;
    
}

#nav-bar ul li a:hover{
    color: black;
    font-weight: bold;
}
.nav-bar{
    background: white;

}

.navbar-toggler{
    border: none;
}
.nav-link{
    color: #555;
    font-weight: 500;
    font-size: 16px;
}


/* Slider   */
#slider{
    width: 100%;
    
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}
.carousel-caption h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
}

/* About section  */
#about{
    padding: 50px;
    color: #555;
    background-color: rgb(201, 198, 198);

}

#about .btn{
margin-top: 10px;
margin-bottom: 10px;
padding: 5px 5px;   
}
.about-content{
    padding-top: 15px;
}

.skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}
.progres-bar{
    border-radius: 16px;
}
.progress{
    border-radius: 16px;
    margin-bottom: 16px;
}

/* Services Section */
#services{
    /* background-color: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/img/slide1.jpg); */
    background-color: rgba(58, 12, 12, 0.637);
    background-size: cover;
    background-position: center;
    color: #efefef;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 40px;

}
#services h1{
    text-align: center;
    color: blanchedalmond;
    padding-bottom: 10px; 
}
#services h1::after{
   content: " ";
   background: #efefef;
   display: block;
   height: 3px;
   width: 170px;
   margin: 10px auto 5px;
}
.services{
    margin-top:40px ;
}
.icon{
    font-size: 30px;
    margin: 5px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background-color: rgb(90, 89, 89);
    cursor: pointer;
}

/* Our Team section  */
#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    background-color: #ccc;
}
h1{
    text-align: center;
    color: #555;
    padding-bottom: 10px;
}
h1::after{
    content: " ";
    background: gray;
    display: block;
    height: 3px;
    width: 170px;
    margin: 10px auto 5px;
}
.profile-pic{
    margin-top: 25px;
}
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img {
    filter: grayscale(1);
    height: 300px;
}
 #profile2 img {
    filter: grayscale(1);
    height: 300px;
    width: 250px;
}
#profile2 img:hover {
    filter: grayscale(0);
    cursor: pointer;
  
}
.profile-pic .img-box img:hover {
    filter: grayscale(0);
    cursor: pointer;
  
}
.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: indigo;
}
.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
#team .fa{
    height: 25px;
    width: 25px;
    background: #fff;
    color: gray;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

}
.img-box ul li{
    padding: 5px ;
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;

}
.img-box ul, .img-box ul li {
    transition: 0.5;
}

/* Promo Section  */
/* #promo{ */
    /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url();  */
    /* background-color: rgb(117, 59, 59);
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;

} */

/* price Plan Section  */

#price{
    padding: 40px 0;
    background-color: white;
}
.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: whitesmoke;

}

.single-price:hover{
    box-shadow: 0 2px 20px #333;

}
.price-head{
    background-color: #476f8f;
    display: inline;
    float:left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.price-head h2{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p{
    font-size: 20px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span{
    font-size: 15px;
}
.price-content ul li{
    list-style: none;
    border-bottom: 1px solid white;
    padding: 10px 10px;

}
.price-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
ul li:last-child{
    border: none;
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-button{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
.buy-btn{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 10px 40px;
}
.buy-btn:hover{
    border-color: 1px solid white;
    background-color: #3f51b5;

}
a {
    text-decoration: none;
    color: white;
}
/* testimonial section  */
#testimonial{
    padding-top: 50px;
    padding-bottom: 50px;
  

}
#testimonials .row{
    margin-top: 30px;
}
.col-md-4{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user{
    width: 120px ;
    height: 120px;
    border-radius: 50%;
}
.profile img {
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
}
.profile h3{
    font-size: 20px;
    margin-top: 10px;
    color: #007bff;
}
.testimonials span{
    font-size: 12px;
    color: #333;
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
/* blockquote::before{
    content: " ";
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px ;
    right: 5px;
}
blockquote::after{
    content: " ";
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 10px;
    bottom: -15px ;
    left: 5px;
} */

.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

/* Get in touch  */
#contact{
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0;
    border: none;
}
::placeholder{
    color: #999;
}
.follow{
    background-color: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}

/* Footer Section  */
#footer{
    background: #333;
    color: #fff;
    padding: 10px 10px;
}
.fa-copyright {
    margin: 3px;
    
}













